.DS_Store

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# node_modules
node_modules/

# melos
melos_workspace.iml
.idea

# Lock files (libraries should not commit these)
pubspec.lock
Podfile.lock
Package.resolved

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
**/Pods/

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/